<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>XML Parser</title>
</head>
<body>
<!-- display extracted data in a table -->
<div class="container">
      <h1 class="text-center my-5">XML Parser</h1>
      <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
        {% for item in data %}
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td><a href="{{ item.link }}">{{ item.link }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
